#main {
    width: 100%;
    overflow: auto;
}

#main .logo > *::after {
    content: "\a";
    white-space: pre;
}

#main-graphic {
    float: left;
    position: relative;
    display: inline-block;
    overflow:hidden;
    left: -10vh;
}

#main-graphic img {
    position: relative;
    float: left;
    width: 40vw;
    max-height: 75vh;
}


#main .logo {
    position: relative;
    padding-left: 30px;
    font-size: 24pt;
    margin-top: 12vh;
    margin-bottom:2vh;
}

#main .additional-info {
    position: relative;
    float: left;
    padding-left: 30px;
    font-size: 18pt;
}

small {
    display: inherit;
    height: auto;
    width: auto;
    font-size: 1pt;
}

small br {
    font-size: 1pt;
}

@media (max-width: 1160px) {

    /* This media breakpoint is made because at 1160px without any interference the registration text will wrap under the big graphic we have on the left half, forcing the user to scroll to see the
     * main text. To prevent this we turn off the main graphic, and center the registration text on the webpage.
     */
    #main-graphic img {
        display: none;
    }

    #main {
        width: 100%;
        left: 0px;
        text-align: center;
        margin: 2em auto 0;
    }


    #main .logo {
        display: inline-block;
        padding-left: 0;
        float: none;
        margin: 10vh auto 2vh;
    }
    
    #main .additional-info {
        display:block;
        padding-left: 0;
        float: none;
        margin: 0 auto 0;
    }

}

@media (max-width: 750px) {    
    #main btn {
        display:none;
    }
    
    #main .additional-info {
        font-size: 14pt;
    }
}