#main {
    width: 100%;
    margin-bottom: 2em;
    overflow: auto;
}

#registration .logo > *::after {
    content: "\a";
    white-space: pre;
}

#registration .logo {
    width: 100%;
    overflow: auto;
    font-size: 18pt;
    margin: 0 auto 0;
    text-align: center;
}

#registration .logo > img{
    height: 50vh;
    width: auto;
}

#mobile {
    display: none
}

@media (max-width: 1160px) {

    /* This media breakpoint is made because at 1160px without any interference the registration text will wrap under the big graphic we have on the left half, forcing the user to scroll to see the
     * main text. To prevent this we turn off the main graphic, and center the registration text on the webpage.
     */

    #registration {
        width: 100%;
        left: 0px;
        text-align: center;
        margin: 2em auto 0;
    }


    #registration .logo {
        display: inline-block;
        padding-left: 0;
        float: none;
        margin: 10vh auto 0;
    }

}


/*comment*/
@media (max-width: 750px) {

    /*
     * When the viewport is extremely narrow, we remove the main text and leave only the menu and the registration button.
     */

    
    #desktop {
        display: none;
    }

    #date {
        visibility: hidden;
    }

    #menu .options::after {
        content: "\a";
        white-space: pre;
    }

    #main #registration .logo img#mobile {
        position: absolute;
        display: inline-block;
        width: 23%;
        padding-top: 0.75em;
        height: auto;
        top: 0em;
        left: 6.2em;
    }

    

    #menu .options.underline {
        display: none;
    }

    #menu {
        text-align: center;
        padding-top: 20vh;
        height: auto;
    }

    #menu .logo {
        float: none;
        margin-right: 0;
    }

    #menu .options {
        position: relative;
        display: inline-block;
        height: 100%;
        padding-top: 0em;
        margin-right: 0em;
        padding-bottom: 0em;
        float: none;
    }

    small {
        display: inherit;
        height: auto;
        width: auto;
        font-size: 15pt;
    }

    small br {
        font-size: 8px;
    }

    .big {
        display: none;
    }
}
