#main {
    width: 100%;
    margin-bottom: 2em;
    overflow: auto;
}

#registration .logo > *::after {
    content: "\a";
    white-space: pre;
}

#registration .logo {
    width: 100%;
    overflow: auto;
    font-size: 18pt;
    margin: 0 auto 0;
    text-align: center;
}

#registration .logo > img{
    height: 50vh;
    width: auto;
}

.logo #mobile {
    display: none
}

#registration .button {
    background-color: #EA2B40;
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 20px 50px;
<<<<<<< HEAD
<<<<<<< HEAD
  }

  #registration .button:hover {
    background-color: white;
    color: #EA2B40;
  }
=======
 }
>>>>>>> 1fbe1145316307c8e251b49098541ee300bfa43f
=======
 }
>>>>>>> 1fbe1145316307c8e251b49098541ee300bfa43f

#registration .button:hover {
  background-color: white;
  color: #6A0205;
}


@media (max-width: 750px) {

    /*
     * When the viewport is extremely narrow, we remove the main text and leave only the menu and the registration button.
     */    

    #desktop {
        display: none;
    }

    #registration .button {
        display: none;
    }

    #date {
        visibility: hidden;
    }

    #menu .options::after {
        content: "\a";
        white-space: pre;
    }

    
    .logo img#mobile {
        position: relative;
        width: 30%;
        height:auto;
        display:block;
        margin:0 auto;
        margin-bottom: 30px;
        
    }

    #menu .options.underline {
        display: none;
    }

    #menu .options-register {
        background-color: #EA2B40;
        border: none;
        color: white;
        padding: 12px 22px;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        margin: 20px 50px;
    }

    #menu {
        text-align: center;
        padding-top: 5vh;
        height: auto;
    }

    #menu .logo {
        float: none;
        margin-right: 0;
    }

    #menu .options {
        position: relative;
        display: inline-block;
        height: 100%;
        padding-top: 0em;
        margin-right: 0em;
        padding-bottom: 0em;
        float: none;
    }
    
    small {
        display: inherit;
        height: auto;
        width: auto;
        font-size: 15pt;
    }

    small br {
        font-size: 8px;
    }

    .big {
        display: none;
    }
    

}
