
#sponsors-box {
    background-color: #FFFFFF;
    position: relative;
    max-width: 75vw;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 10vh;
    margin-top: -10px;
}

#sponsors {
    height: 85vh;
    position: relative;
}

@media (max-width: 1024px) {
    #sponsors-box {
        max-width: 68vw;
    }

}

@media (max-width: 850px) {
    #sponsors-box {
        padding-left: 8vw;
        padding-right: 8vw;
        max-width: initial;
    }
}

.tier {
    flex-wrap: wrap;
    display: flex;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
}

.link {
    text-align: center;
    /* position: relative; */
    display: flex;
    width: 80%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    min-width: 100pt;
}

.company-logo {
    text-align: center;
    /* position: relative; */
    display: flex;
    width: 80%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    min-width: 100pt;
}

.diamond {
    width: 60%;
}

.gold {
    width: 50%;
}

.silver {
    width: 40%
}

.bronze {
    width: 20%;
}

.kind {
    width: 10%;
}

h2 {
    padding-top: 3em;
    color: black;
    text-align: center;
    text-transform: uppercase;
}
