#sponsors-box {
    /* background-color: #FFFFFF; */
    position: relative;
    max-width: 75vw;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 10vh;
    margin-top: -10px;
}

#sponsors-box h2 {
    color: white;
}

#sponsors {
    height: 85vh;
    position: relative;
}

@media (max-width: 1024px) {
    #sponsors-box {
        max-width: 68vw;
    }

}

@media (max-width: 850px) {
    #sponsors-box {
        padding-left: 8vw;
        padding-right: 8vw;
        max-width: initial;
    }
}

.tier {
    /*flex-wrap: wrap;
    display: flex;*/
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
}

.link {
    text-align: center;
    /* position: relative; */
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-flex: 1;
    display: flex;
    flex: 1 1 0;
    width: 80%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    min-width: 100pt;
}

.company-logo {
    text-align: center;
    /* position: relative; */
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-flex: 1;
    display: flex;
    flex: 1 1 0;
    width: 80%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    min-width: 100pt;
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    align-self: center;
    padding: 8px;
    border-radius: 8px;
    background-color: white;
}

.company-logo:hover {
    opacity: .7;
}

.diamond {
    width: 60%;
}

.gold {
    width: 50%;
}

.silver {
    width: 40%
}

.bronze {
    width: 20%;
}

.kind {
    width: 10%;
}

h2 {
    padding-top: 3em;
    color: black;
    text-align: center;
    text-transform: uppercase;
}


