@import '~/styles/mixins.scss';

.backgroundContainer {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  z-index: -1;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.tileContainer {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 3px;

  @include down($breakpoint-sm) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.fadeCover {
  $height: 20vh;
  $v-offset: calc(100vh - $height);

  width: 100vw;
  position: absolute;
  top: 0;
  height: $height;
  margin-top: $v-offset;
  background: linear-gradient(#00000000, #000000ff);
}

.static {
  fill-opacity: 0;
}

// Generate animation classes for each delay up to maxDelay
$maxDelay: 100;
@for $i from 0 through $maxDelay {
  .animate--#{$i} {
    fill-opacity: 0;
    animation: pulse 3s #{$i}s ease-in-out infinite;
  }
}

@keyframes pulse {
  0% {
    fill-opacity: 0;
  }

  50% {
    fill-opacity: 1;
  }

  100% {
    fill-opacity: 0;
  }
}
