.backgroundContainer {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  z-index: -1;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.tileContainer {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  gap: 3px;
}

.fadeCover {
  $height: 20vh;
  $v-offset: calc(100vh - $height);

  width: 100vw;
  position: absolute;
  top: 0;
  height: $height;
  margin-top: $v-offset;
  background: linear-gradient(#00000000, #000000ff);
}
