doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title TartanHacks 2014
        link(href="http://fonts.googleapis.com/css?family=Montserrat:700,400" rel="stylesheet")
        link(href="http://fonts.googleapis.com/css?family=Roboto+Slab:700,400" rel="stylesheet")
        link(href="assets/css/main.css" rel="stylesheet")
        link(rel="icon" sizes="196x196" href="assets/imgs/favicon.png")
    body
        #splash
            #splash-bg
            #splash-info
                img.logo(src="assets/imgs/logo.png" alt="TartanHacks logo")
                h1 TartanHacks
                p TartanHacks is an annual, student-run hackathon run by 
                    a(href="https://www.scottylabs.org") Scottylabs
                    | .
                p February 6-7, 2015
                p Registration opens in January.

        #schedule
            h1 Schedule

        #announcements
            h1 Announcements
        script(src="assets/js/particles.min.js")
        script(src="assets/js/app.js")
