---
title: TartanHacks 2020
layout: null
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="mobile-web-app-capable" content="yes"/>

        <title>TartanHacks 2020</title>
        <link rel="icon" href="rsc/img/favicon.ico">
        <link type="text/css" rel="stylesheet" href="fonts/fonts.css" media="screen"/>
        <link type="text/css" rel="stylesheet" href="css/style.css" media="screen"/>
        <link type="text/css" rel="stylesheet" href="css/faq.css" media="screen"/>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="canonical" href="https://tartanhacks.com/" />
        <meta name="description" content="Carnegie Mellon University's largest hackathon, hosted by ScottyLabs. Come hack, build, make or create your own project.">
        <meta name="keywords" content="CMU,hackathon,hack,ScottyLabs,technology,Carnegie Mellon">

        <!-- Facebook Open Graph - Tells Facebook what to show when our webpage is shared. -->
        <meta property="og:url" content="https://tartanhacks.com/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="TartanHacks 2020" />
        <meta property="og:description" content="Carnegie Mellon University's largest hackathon, hosted by ScottyLabs. Come hack, build, make or create your own project." />
        <meta property="og:image" content="https://tartanhacks.com/rsc/img/TartanhacksEventSquare.png" />

        <!-- Schema.org JSON-LD tags, describes the organization to web crawlers -->
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Event",
                "description": "Carnegie Mellon University's largest hackathon, hosted by ScottyLabs. Come hack, build, make or create your own project.",
                "location": {
                    "@type": "PostalAddress",
                    "addressCountry": "USA",
                    "addressLocality": "Pittsburgh",
                    "addressRegion": "PA",
                    "postalCode": "15213",
                    "streetAddress": "5032 Forbes Ave.",
                    "name": "Cohon University Center"
                },
                "image": "https://tartanhacks.com/rsc/img/TartanhacksEventSquare.png",
                "name": "TartanHacks",
                "alternateName": "Tartan Hacks",
                "startDate": "2020-02-14T17:00:00-05:00",
                "endDate": "2020-02-15T20:00:00-05:00",
                "organizer": {
                    "@type": "Organization",
                    "sameAs": "https://scottylabs.org"
                },
                "url": "https://tartanhacks.com"
            }
        </script>
    </head>
    <body class="light-teal clearfix">
        <div class="navy-blue-text">
            <div id="menu" class="topbar">
                <div class="logo">
                    <h2>TartanHacks</h2>
                    <span>February 14-15, 2020</span>
                </div>
                <span class="options">
                    <a href="/"> Home </a>
                </span>
                <span class="options">
                    <a href="/faq.html"> FAQ </a>
                </span>
                <span class="options underline">
                    Schedule
                </span>
                <span class="options">
                    <a href="https://tartanhacks2019.devpost.com/submissions"> projects </a>
                </span>
                <span class="options">
                    <a href="/closing-ceremony.pdf"> closing ceremony slides </a>
                </span>
                <span class="options">
                    <a href="./sponsorship.pdf"> sponsorship </a>
                </span>
            </div>
        </div>
        <div class="navy-blue-text" id="sidebar">
            <div id="menu">
                <span class="options">
                    <a href="/"> Home </a>
                </span>
                <space><br/></space>
                <span class="options">
                    <a href="/faq.html"> FAQ </a>
                </span>
                <space><br/></space>
                <span class="options underline">
                    Schedule
                </span>
                <space><br/></space>
                <span class="options">
                    <a href="https://tartanhacks2019.devpost.com/submissions"> projects </a>
                </span>
                <space><br/></space>
                <span class="options">
                    <a href="/closing-ceremony.pdf"> closing ceremony slides </a>
                </span>
                <space><br/></space>
                <span class="options close-menu">
                    close menu
                </span>
            </div>
        </div>
        <div id="faq" class="clearfix">
            <div class="navy-blue-text" id="faq-text">
                {% for date in site.data.schedule %}
                    <h2 class="day">{{date.date}}</h2>
                    {% for event in date.events %}
                        <div class="flex schedule">
                            <span class="time"><b>{{ event.time }}</b></span>
                            <span>
                                {{ event.name }}
                                <br/>
                                <i>{{ event.location }} </i>
                            <span>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div id="copyright" class="relative navy-blue-text" >
                Copyright Scottylabs 2019.
            </div>
        </div>
        <script src="https://use.fontawesome.com/9c8a25da89.js"></script>
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="js/sidebar.js"></script>
    </body>
</html>
