@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.hero {
  font-size: $text-size-hero;
  font-weight: 800;
}

.h1 {
  font-size: $text-size-h1;
  font-weight: 800;
}

.h2 {
  font-size: $text-size-h2;
  font-weight: 500;
}

.body {
  font-size: $text-size-body;
  line-height: 1.5;
}

.subtitle {
  font-size: $text-size-subtitle;
}

.subtitle1 {
  font-size: $text-size-subtitle1;
}

.button {
  font-size: $text-size-button;
}
