@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.homeIcon {
  height: 64px;
  width: 64px;
  margin: 2em 0 0 2em;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.heroBackgroundContainer {
  height: 100%;
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: -1;
  overflow-x: hidden;
}

.heroBackground {
  @include down($breakpoint-sm) {
    width: 200%;
  }
}

.heroText {
  height: 100vh;
  width: 100vw;
  padding-right: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  margin: auto auto;
  position: absolute;

  @include down($breakpoint-lg) {
    text-align: center;
    padding-right: 0;
  }
}

.heroYear {
  font-size: 7rem;

  @include down($breakpoint-sm) {
    font-size: 5rem;
  }

  @include down($breakpoint-xs) {
    font-size: 4rem;
  }
}

.heroSpacerStart {
  flex: 1 1 40%;
}

.heroSpacerEnd {
  flex: 1 1 60%;
}

.eventDate {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 2em 2em;
  color: $text-alt;
}

.dotMatrixTopLeft {
  top: 5rem;
  left: 10rem;
}
