@import '~/styles/variables.scss';
@import '~/styles/mixins.scss';

.backgroundContainer {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.mountain {
  position: absolute;
  bottom: 0;
  left: 0;
}

.mountainFront {
  width: 90%;
}
