@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.backgroundContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.mountain {
  position: absolute;
  bottom: 0;
}

.mountainFront {
  width: 90%;
  left: 0;
}
