@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.dotMatrixContainer {
  position: absolute;
  display: grid;
}

.circle {
  background-blend-mode: hard-light;
  height: 0.9rem;
}

.circlePrimary {
  color: $circle-color-primary;
}

.circleSecondary {
  color: $circle-color-secondary;
}

.circleFaded {
  opacity: 0.6;
}

@for $i from 0 through 5 {
  .circle--#{$i}.circleDark {
    animation: pulseDark 2s ease-out #{$i}s infinite;
  }
  .circle--#{$i}.circleFaded {
    animation: pulseFaded 2s ease-out #{$i}s infinite;
  }
}

@keyframes pulseDark {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulseFaded {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.6;
  }
}
