@font-face {
  font-family: 'Comba';
  src: url('/src/fonts/combatest-boldultrawide.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('/src/fonts/Futura.ttc') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'sfpro';
  src: url('/src/fonts/sfpro.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'basteleur';
  src: url('/src/fonts/basteleur.otf') format('opentype');
  font-style: normal;
}
