/* Breakpoint mixins */

$breakpoint-xs: 320px;
$breakpoint-sm: 481px;
$breakpoint-md: 769px;
$breakpoint-lg: 1200px;

@mixin up($screen) {
	@media (min-width: $screen) {
		@content;
	}
}

@mixin down($screen) {
	@media (max-width: $screen) {
		@content;
	}
}

@mixin between($min-width, $max-width) {
	@media (min-width: $min-width) and (max-width: $max-width) {
		@content;
	}
}
