body {
    background-color: #FFFFFF;
    margin: 0;
}

#splash,
#splash .graphic {
    width: 100vw;
    height: 100vh;
}

#splash .text img {
    position: fixed;
    left: 8%;
    top: 8%;
    width: 25%;
    z-index: 1;
}

#splash .graphic img {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

/* Large screens (as opposed to XL monitors) */
@media (max-width : 1200px) {
    #splash .text img {
        width: 35%;
    }
}

/* Tablet sized screens */
@media (max-width : 992px) {
    #splash .text img {
        width: 45%;
    }
}

/* Mobile sized screens */
@media (max-width : 600px) {
    #splash .text img {
        width: 80%;
        top: 10%;
        left: 10%;
    }
}
