html, body {
    padding: 2em 0;
    width: 100%;
    font-family: "Roboto", "Helvetica Neue", "Calibri", Arial, sans-serif;
    font-size: 16px;
    line-height: 2;
    color: #bfbfbf;
    text-align: center;
}

a {
    color: white;
    text-decoration: underline;
}

.nice-btn {
    border-radius: 0;
    background: none;
    color: white;
    margin: 5px;
}

.nice-btn:hover {
    background: none;
    color: white;
}

img {
    width: 80%;
    height: auto;
}

@media (min-width: 520px) {
    body {
        width: 520px;
        margin: 0 auto;
    }
}

hr {
    margin: 1em auto;
    width: 50%;
    height: 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

h1 {
    font-size: 72px;
    line-height: 1.2;
}

h2 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: normal;
}

h3 {
    line-height: 1.2;
    font-weight: normal;
    margin: 1em;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#leader {
    margin: 2em 0 0 0;
}

#sponsors img {
    width: 50%; 
    opacity: 0.9;  
}

#sponsors ul {
    padding: 0;
    list-style: none;
}

#sponsors li {
    display: inline-block;
    width: 100%;
}

#sponsors .silver {
    font-size: 1.5em;
}

#sponsors .bronze {
    font-size: 1.3em;
}


@media (min-width: 520px) {
    #sponsors li {
        width: 50%;
    }
}


/* @component Schedule
 */
.Schedule > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Schedule ul > li {
    padding: 0.5em 0;
    margin: 2em 0;
    text-align: left;
    color: #bfbfbf;
}

.Schedule .time {
    text-align: right;
}

.Schedule .name {
    text-align: left;
    font-family: 'Roboto Slab', serif;
}

.Schedule p {
    line-height: 1.2;
    font-style: italic;
}

/* @component FAQ
 */
.FAQ {
    text-align: left;
}

div:target {
    background: white; 
    color: black;
    border-radius:5px;
    padding: 1em;
    margin: 2em 0;
}

div:target a {
    color: black;
}

footer {
    padding: 2em 0 0 0;
}

/* @component App
 * @brief Global component, has a bit of routing.
 */
.App ul.links {
    padding: 2em 0;
    width: 100%;
}

.App .links li {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: inline-block;
}

@media (min-width: 520px) {
    .App .links li {
        width: 33%;
    }
}

.App .links a {
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
}

.App .links a:hover {
    background: none;
}

/* @component Announcement
 * @brief An announcement is a li that contains some text, a timestamp, and an
 * optional delete button.  The timestamp and delete button are absolutely
 * positioned inside the li.
 */
.Announcement {
    position: relative;
    padding: 0.7em 36px 0.7em 1em; /* the 36px is eyeballed to prevent overlap. */
    text-align: left;
    color: #555;
}

.Announcement > .timestamp {
    position: absolute;
    bottom: 0.2em;
    left: 4em;
    color: #668DE5;
    font-size: 0.6em;
    font-style: italic;
}

.Announcement > button {
    background: none;
    border-style: none none none solid;
    border-width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

/* @component AnnouncementList
 * @brief An announcement list is a Bootstrap Well that contains a header, an ul
 * of <Announcement />s, and an optional small form with a text input and a
 * button to add new announcements.
 */

.AnnouncementList > form > input[type="text"] {
    width: 100%;
}

/* @component LoginButton
 * @brief A button that toggles login state.
 */
.LoginButton {
    width: 100%;
    text-align: center;
}

/* @component Profile
 * @brief A profile form.
 */
.Profile .form-control-static {
    text-align: left;
}

/* @component RegistrationPanel
 * @brief A panel for viewing and managing registration.
 */
.RegistrationPanel table {
   text-align: left;
   background: white;
   color: black;
}
