@import url("https://fonts.googleapis.com/css?family=Syncopate:700&display=swap");

@font-face {
  font-family: 'Ostrich Sans';
  src: url('OstrichSans-Medium.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Ostrich Sans';
  src: url('OstrichSans-Heavy.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


