@font-face {
  font-family: 'Styrene A Web';
  src: url('StyreneA-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Styrene A Web';
  src: url('StyreneA-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
