.grid {
    grid-auto-columns: minmax(0, 1fr);
    grid-template-areas:
    'a a'
    'b c'
    'd e';
}

@media (max-width: 640px) {
    .grid {
        grid-auto-columns: minmax(0, 1fr);
        grid-template-areas:
        'a'
        'b'
        'c'
        'd'
        'e';
    }
}
