@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.footer {
  width: 100%;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;

  color: $text-alt;
  text-align: center;
}

.footerLink {
  @include link($link-color);
  color: $link-color;
  text-decoration: none;
}
