@import "./variables.scss";
@import "./mixins.scss";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

html,
body {
  min-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: $text-primary;
  overflow-x: hidden;
  @include font-size($body-font-sizes);
}

body {
  background-color: $background-color;
}

* {
  box-sizing: border-box;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
