@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Comba;
    font-weight: 400;
    src: local("Comba"), url("../fonts/combatest-boldultrawide.otf") format("opentype");
  }
  @font-face {
    font-family: Futura;
    font-weight: 400;
    src: local("Futura"), url("../fonts/futura-bk-book.ttf") format("truetype");
  }
}

html,
body {
  min-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  @apply bg-black;
}

* {
  box-sizing: border-box;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
