@import "./variables.scss";
@import "./mixins.scss";

.main {
  height: 100vh;
}

.homeIcon {
  height: 64px;
  width: 64px;
  margin: 2em 0 0 2em;
  position: absolute;
  cursor: pointer;
}

.heroBackground {
  bottom: 0;
  height: 100%;
}

.heroText {
  height: 100vh;
  padding-right: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  margin: auto auto;
}

.heroYear {
  font-size: 7rem;
}

.heroSpacerStart {
  flex: 1 1 40%;
}

.heroSpacerEnd {
  flex: 1 1 60%;
}
