@use "sass:map";

/* Breakpoint mixins */
$breakpoint-xs: 320px;
$breakpoint-sm: 481px;
$breakpoint-md: 769px;
$breakpoint-lg: 1200px;
$breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
);

@mixin up($screen) {
  @media (min-width: $screen) {
    @content;
  }
}

@mixin down($screen) {
  @media (max-width: $screen) {
    @content;
  }
}

@mixin between($min-width, $max-width) {
  @media (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

/* Font size mapping mixin */
@mixin font-size($font-sizes) {
  @each $breakpoint, $font-size in $font-sizes {
    @if $breakpoint == "default" {
      font-size: $font-size;
    } @else {
      @include down(map.get($breakpoints, $breakpoint)) {
        font-size: $font-size;
      }
    }
  }
}

/* Link animation mixin */
@mixin link($background-color) {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient($background-color 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/

  &:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
  }
}
