// Colors
$text-primary: #07054c;
$text-alt: #fdcd60;
$text-unfocused: #999999;

$background-color: #ffc738;

$circle-color-1: #dd562b;

// Font sizes
$hero-font-sizes: (
  default: 5rem,
  sm: 3rem,
  xs: 2rem,
);
$h1-font-sizes: (
  default: 3rem,
);
$h2-font-sizes: (
  default: 2rem,
  xs: 1.5rem,
);
$body-font-sizes: (
  default: 1rem,
);
$subtitle-font-sizes: (
  default: 0.8rem,
);
$subtitle1-font-sizes: (
  default: 0.6rem,
);
$button-font-sizes: (
  default: 1.3rem,
);

// Container paddings
$container-padding: 1em 1.5em 1em 1.5em;

// Shadows
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
$text-shadow: 1px 1px 10px #0005;

// Transitions
$logo-hover-transition: 0.2s;
